@import "tailwindcss";

@theme {
  --color-primary: #b22222; /* Rojo Corlat Industrial */
  --color-on-surface: #09090b;
  --font-headline: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-zinc-950 antialiased font-body;
  }
}

@layer components {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar Industrial Corlat */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 hover:bg-primary transition-colors;
}